body {
    background-color: #ffffff;
    background-image: linear-gradient(90deg, #6f91c5 0%, #92c3dc 46%, #d4c3a4 100%);
    background-size: 100% 100%;
}
.main {
    background-color: rgba(255, 255, 255, 0.219);
    backdrop-filter: blur(2px);
    border-radius: 25px;
}
input {
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid dodgerblue;
    width: 100%;
    position: relative;
    bottom: 0px;
}
.form-group {
    height: 70px;
}

label {
    position: relative;
    font-size: 18px;
    color: rgb(72, 69, 69);
    top: 32px;
    left: 5px;
    transition: .3s;
    z-index: -1;
}

.label-selected {
    position: relative;
    font-size: 13px;
    color: rgb(255, 255, 255);
    top: 5px;
    left: 5px;
}

button {
    border: none;
    background-color: dodgerblue;
    color: #fff;
    font-weight: 500;
    padding: 10px;
    width: 100px;
    border-radius: 30px;
    margin-left: 75%;
    transition: .5s;
    transform: translate(0px, 0px);
}

button:hover {
    box-shadow: 0px 8px 15px -10px rgb(61, 61, 61);
    transform: translate(0px, -3px);
}

.links {
    font-size: 14px;
    color: rgb(3, 48, 197);
}

#overlay {
    background-color: #fff;
    height: 550px;
    width: 600px;
    position: absolute;
    transform: translate(0px, -25px);
    border-radius: 25px;
    background-image: url(auto-car-wifi-signal-blue-icon-abstract-cloud-background-148699697.webp);
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    #overlay ,#signUp{
        display: none;
    }
    button{
    margin-left: 65%;

    }
}


/* Google */
.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
      
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    width: 55%;
    height: 20;
  
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    margin-left: 50%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    
    &:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    &:active {
      background-color: #eeeeee;
    }
    
    &:focus {
      outline: none;
      box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
  
  
  }

  .login-with-google-btn body {
    text-align: center;
    padding-top: 2rem;
   
  } 
  h6{
    color: #37547f ;
    width: 60%;
    height: 20;
    margin-left: 50%;
  }